autostitch
Image Stitching
image-autostitch-master
Papers and project
An_Automatic_Image_Stitching_Method_for_Infrared_Image_Series.pdf
A_Robust_UAV_Hyperspectral_Image_Stitching_Method_Based_on_Deep_Feature_Matching.pdf
Drone_Image_Stitching_Based_on_Compactly_Supported_Radial_Basis_Function.pdf
UAV_Image_Stitching_Based_on_Mesh-Guided_Deformation_and_Ground_Constraint.pdf
